
  - name: Remove existed couchdb container
    docker_container:
      name: "couchdb{{ ansible_default_ipv4.address }}"
      image: "{{couchdb_image}}"
      state: absent

  - name: Create couchdb container
    docker_container:
      name: "couchdb{{ ansible_default_ipv4.address }}"
      image: "{{couchdb_image}}"
      state: started
      recreate: true
      pull: yes
      env:
        COUCHDB_USER: "{{ couchdb_username }}"
        COUCHDB_PASSWORD: "{{couchdb_password}}"
        COUCHDB_SECRET: "{{ couchdb_cookie }}"
        ERL_FLAGS: "-setcookie \"{{ couchdb_cookie }}\" -name \"couchdb@{{ ansible_default_ipv4.address }}\""
      ports:
        - "5984:5984"
        - "4369:4369"
        - "9100-9200:9100-9200"
      volumes:
        - /data
#        - /data:/opt/couchdb/data