  - name: Install dependencies
    tags: always
    become: yes
    apt: 
      name: ['apt-transport-https', 'build-essential', 'ca-certificates', 'curl', 'git', 'python3-dev', 'python3-pip', 'virtualenv','python3-setuptools', 'software-properties-common', 'unzip', 'vim', 'aptitude']
      state: latest
      install_recommends: no
      update_cache: yes

