  - name: Create couchdb cluster group
    lineinfile:
      line: "[dbserver:children]\ninstance-1\ninstance-2\ninstance-3\n"
      dest: "./inventory/hosts.ini"

  - name: Create web group
    lineinfile:
      line: "[webapp:children]\ninstance-2\n"
      dest: "./inventory/hosts.ini"

  - name: Create harvester group
    lineinfile:
      line: "[harvester:children]\ninstance-4\n"
      dest: "./inventory/hosts.ini"

  - name: Create cloud group
    lineinfile:
      line: "[cloud:children]\ninstance-1\ninstance-2\ninstance-3\ninstance-4\n"
      dest: "./inventory/hosts.ini"