  - hosts: localhost
    vars:
      ansible_python_interpreter: '{{interpreter_path}}'

    vars_files:
      - host_vars/mrc-common.yaml
    gather_facts: true

    roles:
      - role: openstack-common
      - role: openstack-images
      - role: openstack-volume
      - role: openstack-security-group
#      - role: local-add-private-key
      - role: openstack-instance
      # - role: attach-volume


  - hosts: cloud
    become: yes
    vars_files:
      - host_vars/cloud-common.yaml
    gather_facts: true
    
    roles:
      # - role: format-volume
      # - role: mount-volume
      - role: modify-proxy
#      - role: cloud-install-docker-dependencies
#      - role: cloud-install-docker
#      - role: cloud-modify-docker-proxy
#      - role: cloud-run-couchdb
#      - role: cloud-setup-cluster
#      - role: cloud-deploy-harvester
#      - role: cloud-deploy-web
