  - hosts: localhost
    vars:
      ansible_python_interpreter: '{{interpreter_path}}'

    vars_files:
      - host_vars/local-common.yaml
    gather_facts: true

    roles:
      # - role: openstack-common
      # - role: openstack-images
      # - role: openstack-volume
      - role: openstack-security-group
      #- role: local-add-private-key
      - role: openstack-instance

  - hosts: cloud
    become: yes
    vars_files:
      - host_vars/cloud-common.yaml
      - host_vars/cloud-docker.yaml
      - host_vars/cloud-couchdb.yaml
    gather_facts: true
    
    roles:
#      - role: proxy-modification
#      - role: cloud-install-dependencies
#      - role: cloud-install-docker
#      - role: cloud-install-couchdb
      - role: cloud-run-couchdb
#      - role: cloud-deploy-harvester
#      - role: cloud-deploy-web
#      - role: cloud-couchdb-container